.env
.env.local
__pycache__/
*.pyc
venv/
env/
.venv/
node_modules/
dist/
.vite/
*.log
uploads/
postgres-data/
pgadmin-data/
thresholds.json
.DS_Store
Thumbs.db
.idea/
.vscode/
EMS_Dataplatform-main.OLD/
