DATABASE_URL=postgresql://ems_user:ems_password@localhost:5432/ems_db

MQTT_BROKER=localhost
MQTT_PORT=1883

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre.email@gmail.com
SMTP_PASSWORD=votre_app_password
ALERT_EMAIL=admin@jesagroup.com

REPORT_HOUR=8

SECRET_KEY=ems-jesa-secret-key-2024
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60